.hacker-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    top: -75px; /* half of the image height */
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}

.w-87 {
    width: 360px;
}

.font-jetbrains {
    font-family: 'JetBrains mono';
}
