.hacker-image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 5px solid rgb(41, 53, 75);
    box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}

.w-100 {
    width: 400px;
}

.h-100 {
    height: 500px;
}

.font-jetbrains {
    font-family: 'JetBrains mono';
}